$white-color: #fff
$black-color: #000
$dark-green-color: #394032
$light-green-color: #7c9082
$champagne-pink-color: #f2ddc9
$light-maroon-color: #d5a18e
$dark-maroon-color: #87243a
$blue-color: #3399ff
$light-grey: #e7eae6
$total: #ffbb87
$rejected: #5fbbc4
$confirmed: #704c7c
$rescheduled: #9ec3db
$disable-days: #8ab27f
$accepted-by-admin: #92486a
$accepted-by-consultant: #c45545
$shared-with-consultant: #64a07d
