.error-image {
  max-width: 120px;
  margin: 0 auto;
}

.btn-main
  { 
    color: #394032;
    border: 2px solid #394032 !important;
    background-color: transparent;
  }
.btn-main:hover {
  background-color: #394032 !important;
  color: #fff;
}
